---
import '../styles/global.css'

import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = 'About';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name='description' content='proverbdesk - interactive super blog || Righteous Noise Productions || Clark Creative Services (CCS)'>
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
	<title>{pageTitle}</title>

	</head>
	<body>

		<BaseLayout pageTitle={pageTitle}>
			<h2>this is an Astro site</h2>
			<p>I am working through Astro's introductory tutorial. this is the second page.</p>
			<p>this site will update as I complete more of the tutorial.</p>
		</BaseLayout>
		<script>
			import '../scripts/menu.js'
		</script>
	</body>
</html>
