---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name='description' content='proverbdesk - interactive super blog || Righteous Noise Productions || Clark Creative Services (CCS)'>
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
	<title>proverbdesk</title>
	</head>
	<body>
		<nav id='navbar'>
			<a href="/" id='navbar-link-home'>proverbdesk</a>
			<a href="/about" id='navbar-link-about'>about</a>
			<a href="/blog" id='navbar-link-blog'>blog</a>
		</nav>

		<h1>about</h1>
    <h2>this is an Astro site</h2>
    <p>I am working through Astro's introductory tutorial. this is the second page.</p>
    <p>this site will update as I complete more of the tutorial.</p>
	</body>
</html>
