---
import '../styles/global.css'

import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = 'Blog';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name='description' content='proverbdesk - interactive super blog || Righteous Noise Productions || Clark Creative Services (CCS)'>
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
	<title>{pageTitle}</title>
	</head>
	<body>
		<BaseLayout pageTitle={pageTitle}>

    <h2>this is the blog page.</h2>
    <p>Soon, I will add journal entries.</p>
    <p>this site will contain the inner machinations of my mind.</p>
	
		<ul>
			<li><a href="/posts/post-1">post 1</a></li>
			<li><a href="/posts/post-2">post 2</a></li>
			<li><a href="/posts/post-3">post 3</a></li>
		</ul>

		<BaseLayout />

		<script>
			import '../scripts/menu.js'
		</script>
	</body>
</html>
