---

---

<!-- <style>
  nav {
    display: flex;
    justify-content: space-between;
    border-bottom: thin solid;
  }
  a {
    color: black;
    font-weight: bold;
  }
</style> -->

<div class='navbar' id='navbar'>
  <div class='nav-logo'>
    <a href="/" id='navbar-link-home'>proverbdesk</a>
  </div>
  <div class='nav-links'>
    <a href="/about" id='navbar-link-about'>about</a>
    <a href="/blog" id='navbar-link-blog'>blog</a>
  </div>
</div>
